
/***********
  Colors
***********/

$white: #fff;
$black: #000;

// emv
$emvBlue: #3056ff;
$emvGreen: #00ff92;
$emvRed: #ff392e;
$emvViolet: #8652dc;

// Grays
$grayBackground: #f0f0f0;
$grayHighlight: #e0e0e0;
$grayStroke: #d0d0d0;
$grayFadedFont: #555;
$grayFont: #333;
$grayDarkFont: #101010;

// skill colors
$htmlOrangeLight: rgb(244, 243, 70);
$htmlOrangeDark: rgb(228, 77, 38);
$cssBlueDark: rgb(12, 115, 184);
$jsYellowDark: rgb(228, 162, 40);
$jQueryBlueLight: rgb(31, 162, 201);
$jQueryUIYellow: rgb(254, 166, 32);
$reactBlue: rgb(0, 216, 255);
$sassPink: rgb(205, 102, 154);
$mochaBrown: rgb(157, 118, 81);
$gulpRed: rgb(232, 74, 74);
$lessBlue: rgb(28, 53, 92);
$meteorRed: rgb(222, 74, 74);

/*********
  Fonts
*********/

@import url(https://fonts.googleapis.com/css?family=Quicksand:400,300,700);

/*********
  Flex
*********/

@mixin horizFlexPerfectCenter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@mixin vertFlexPerfectCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*********
  Base
*********/

* {
  box-sizing: border-box;
}

body, html {
  width: 100%;
  padding: 0;
  margin: 0;
}

body {
  color: $grayFont;
  font-family: 'Quicksand', helvetica, sans-serif;
}

.app-container {
  width: 100%;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 10px 0 0 0;
  padding: 0;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: #333;
}

p {
  font-size: 16px;
}

/**********
  Media
**********/

$mobile: "(max-width: 420px)"; 


/*************
  Skill Tags
*************/

@mixin skillTag($bgColor) {
  padding: 4px;
  border-radius: 3px;
  color: $white;
  font-weight: 700;
  background-color: $bgColor;
}

span.skill-html {
  @include skillTag($htmlOrangeDark);  
}

span.skill-css {
  @include skillTag($cssBlueDark);
}

span.skill-js {
  @include skillTag($jsYellowDark);
}

span.skill-jq {
  @include skillTag($jQueryBlueLight);
}

span.skill-jq-ui {
  @include skillTag($jQueryUIYellow);
}

span.skill-react {
  @include skillTag($reactBlue);
}

span.skill-sass {
  @include skillTag($sassPink);
}

span.skill-mocha {
  @include skillTag($mochaBrown);
}

span.skill-gulp {
  @include skillTag($gulpRed);
}

span.skill-less {
  @include skillTag($lessBlue);
}

span.skill-meteor {
  @include skillTag($meteorRed);
}

@import './main-layout.scss';
@import './components.scss';
@import './components/snowflake.scss';
@import './components/bubble-maker.scss';
@import './components/app/app-navbar.scss';
@import './components/home-page/home-page.scss';
@import './components/bass-page/bass-page.scss';
@import './components/portfolio-page/portfolio-page.scss';
@import './components/contact-page/contact-page.scss';
@import './components/blog-page/blog-page.scss';

