
/**********
  Mixins
**********/

/********
  Pages
********/

@mixin mainLayoutPage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*********
  Nav
*********/

@mixin horizontalNav($width, $height, $tabWidth) {
  @media #{$mobile} {
    width: 100%;
  }
  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: $width;
    height: $height;
    list-style-type: none;
    padding: 0;
    li {
      width: $tabWidth;
      height: inherit;
      a {
        @include vertFlexPerfectCenter;
        width: $tabWidth;
        height: inherit;
      }
    }
  }
  @media (max-width: 400px) {
    width: 100%;
    ul {
      width: inherit;
      li {
        width: 60px;
        h1 {
          font-size: 18px;
        }
        a {
          width: 60px;
          font-size: 14px;
        }
      }
    }
  }
}

