@import './components.scss';

.main-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  .content {
    width: 680px;
    background-color: $white;
    @media #{$mobile} {
      width: 100%;
    }
  }
}
