/***********
  Colors
***********/
/*********
  Fonts
*********/
@import url(https://fonts.googleapis.com/css?family=Maven+Pro);
/*********
  Flex
*********/
/*********
  Base
*********/
* {
  box-sizing: border-box; }

body, html {
  width: 100%;
  padding: 0;
  margin: 0; }

body {
  color: #333; }

.app-container {
  width: 100%; }

h1, h2, h3, h4, h5, h6, p {
  margin: 10px 0 0 0;
  padding: 0;
  font-weight: 400; }

a {
  text-decoration: none;
  color: #333; }

p {
  font-size: 16px; }

/**********
  Media
**********/

/***********
  Colors
***********/
/*********
  Fonts
*********/
@import url(https://fonts.googleapis.com/css?family=Maven+Pro);
/*********
  Flex
*********/
/*********
  Base
*********/
* {
  box-sizing: border-box; }

body, html {
  width: 100%;
  padding: 0;
  margin: 0; }

body {
  color: #333; }

.app-container {
  width: 100%; }

h1, h2, h3, h4, h5, h6, p {
  margin: 10px 0 0 0;
  padding: 0;
  font-weight: 400; }

a {
  text-decoration: none;
  color: #333; }

p {
  font-size: 16px; }

/**********
  Media
**********/
/**********
  Mixins
**********/
/********
  Pages
********/
/*********
  Nav
*********/

/***********
  Colors
***********/
/*********
  Fonts
*********/
@import url(https://fonts.googleapis.com/css?family=Maven+Pro);
/*********
  Flex
*********/
/*********
  Base
*********/
* {
  box-sizing: border-box; }

body, html {
  width: 100%;
  padding: 0;
  margin: 0; }

body {
  color: #333; }

.app-container {
  width: 100%; }

h1, h2, h3, h4, h5, h6, p {
  margin: 10px 0 0 0;
  padding: 0;
  font-weight: 400; }

a {
  text-decoration: none;
  color: #333; }

p {
  font-size: 16px; }

/**********
  Media
**********/
/**********
  Mixins
**********/
/********
  Pages
********/
/*********
  Nav
*********/
.main-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #000; }
  .main-layout .content {
    width: 680px;
    background-color: #fff; }
    @media (max-width: 420px) {
      .main-layout .content {
        width: 100%; } }

/** ANIMATION MIXINS **/
/** PREFIXES **/

/***********
  Colors
***********/
/*********
  Fonts
*********/
@import url(https://fonts.googleapis.com/css?family=Maven+Pro);
/*********
  Flex
*********/
/*********
  Base
*********/
* {
  box-sizing: border-box; }

body, html {
  width: 100%;
  padding: 0;
  margin: 0; }

body {
  color: #333; }

.app-container {
  width: 100%; }

h1, h2, h3, h4, h5, h6, p {
  margin: 10px 0 0 0;
  padding: 0;
  font-weight: 400; }

a {
  text-decoration: none;
  color: #333; }

p {
  font-size: 16px; }

/**********
  Media
**********/
/**********
  Mixins
**********/
/********
  Pages
********/
/*********
  Nav
*********/
.home-page {
  padding-top: 20%;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .home-page img {
    width: 250px;
    height: 300px; }
  .home-page h1 {
    font-size: 20px; }
  .home-page h2 {
    font-size: 18px;
    display: flex;
    flex-direction: row;
    align-items: center; }
    .home-page h2 i {
      font-size: 9px;
      margin: 0 10px; }
  .home-page nav ul {
    display: flex;
    flex-direction: row;
    width: 400px;
    height: 60px;
    list-style-type: none;
    padding: 0; }
    .home-page nav ul li {
      width: 100px;
      height: inherit; }
      .home-page nav ul li a {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100px;
        height: inherit; }
  @media (max-width: 400px) {
    .home-page nav {
      width: 100%; }
      .home-page nav ul {
        width: inherit; }
        .home-page nav ul li {
          width: 80px; }
          .home-page nav ul li a {
            width: 80px; } }
  .home-page nav li a {
    border-bottom: 4px solid transparent; }
  .home-page nav li:first-child a {
    color: #ff392e; }
    .home-page nav li:first-child a:hover {
      color: #ff392e;
      border-bottom: 4px solid #ff392e; }
  .home-page nav li:nth-child(2) a {
    color: #8652dc; }
    .home-page nav li:nth-child(2) a:hover {
      color: #8652dc;
      border-bottom: 4px solid #8652dc; }
  .home-page nav li:nth-child(3) a {
    color: #3056ff; }
    .home-page nav li:nth-child(3) a:hover {
      color: #3056ff;
      border-bottom: 4px solid #3056ff; }
  .home-page nav li:last-child a {
    color: #55c768; }
    .home-page nav li:last-child a:hover {
      color: #55c768;
      border-bottom: 4px solid #55c768; }

/***********
  Colors
***********/
/*********
  Fonts
*********/
@import url(https://fonts.googleapis.com/css?family=Maven+Pro);
/*********
  Flex
*********/
/*********
  Base
*********/
* {
  box-sizing: border-box; }

body, html {
  width: 100%;
  padding: 0;
  margin: 0; }

body {
  color: #333; }

.app-container {
  width: 100%; }

h1, h2, h3, h4, h5, h6, p {
  margin: 10px 0 0 0;
  padding: 0;
  font-weight: 400; }

a {
  text-decoration: none;
  color: #333; }

p {
  font-size: 16px; }

/**********
  Media
**********/
/**********
  Mixins
**********/
/********
  Pages
********/
/*********
  Nav
*********/
/** ANIMATION MIXINS **/
/** PREFIXES **/
/* SNOWFLAKE ANIMATIONS */
@-webkit-keyframes widenOddContainerLines {
  0% {
    width: 100%;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  50% {
    width: 200%; }
  100% {
    width: 100%;
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }

@-moz-keyframes widenOddContainerLines {
  0% {
    width: 100%;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  50% {
    width: 200%; }
  100% {
    width: 100%;
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }

@-ms-keyframes widenOddContainerLines {
  0% {
    width: 100%;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  50% {
    width: 200%; }
  100% {
    width: 100%;
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }

@-o-keyframes widenOddContainerLines {
  0% {
    width: 100%;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  50% {
    width: 200%; }
  100% {
    width: 100%;
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes widenOddContainerLines {
  0% {
    width: 100%;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  50% {
    width: 200%; }
  100% {
    width: 100%;
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }

@-webkit-keyframes shrinkEvenContainerLines {
  0% {
    width: 100%;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  50% {
    width: 1px; }
  100% {
    width: 100%;
    -webkit-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    transform: rotate(-360deg); } }

@-moz-keyframes shrinkEvenContainerLines {
  0% {
    width: 100%;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  50% {
    width: 1px; }
  100% {
    width: 100%;
    -webkit-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    transform: rotate(-360deg); } }

@-o-keyframes shrinkEvenContainerLines {
  0% {
    width: 100%;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  50% {
    width: 1px; }
  100% {
    width: 100%;
    -webkit-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    transform: rotate(-360deg); } }

@keyframes shrinkEvenContainerLines {
  0% {
    width: 100%;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  50% {
    width: 1px; }
  100% {
    width: 100%;
    -webkit-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    transform: rotate(-360deg); } }

@-webkit-keyframes rotateGear {
  0% {
    -webkit-transform: rotateY(0deg) rotateZ(0deg);
    -moz-transform: rotateY(0deg) rotateZ(0deg);
    -ms-transform: rotateY(0deg) rotateZ(0deg);
    -o-transform: rotateY(0deg) rotateZ(0deg);
    transform: rotateY(0deg) rotateZ(0deg); }
  100% {
    -webkit-transform: rotateY(360deg) rotateZ(360deg);
    -moz-transform: rotateY(360deg) rotateZ(360deg);
    -ms-transform: rotateY(360deg) rotateZ(360deg);
    -o-transform: rotateY(360deg) rotateZ(360deg);
    transform: rotateY(360deg) rotateZ(360deg); } }

@-moz-keyframes rotateGear {
  0% {
    -webkit-transform: rotateY(0deg) rotateZ(0deg);
    -moz-transform: rotateY(0deg) rotateZ(0deg);
    -ms-transform: rotateY(0deg) rotateZ(0deg);
    -o-transform: rotateY(0deg) rotateZ(0deg);
    transform: rotateY(0deg) rotateZ(0deg); }
  100% {
    -webkit-transform: rotateY(360deg) rotateZ(360deg);
    -moz-transform: rotateY(360deg) rotateZ(360deg);
    -ms-transform: rotateY(360deg) rotateZ(360deg);
    -o-transform: rotateY(360deg) rotateZ(360deg);
    transform: rotateY(360deg) rotateZ(360deg); } }

@-ms-keyframes rotateGear {
  0% {
    -webkit-transform: rotateY(0deg) rotateZ(0deg);
    -moz-transform: rotateY(0deg) rotateZ(0deg);
    -ms-transform: rotateY(0deg) rotateZ(0deg);
    -o-transform: rotateY(0deg) rotateZ(0deg);
    transform: rotateY(0deg) rotateZ(0deg); }
  100% {
    -webkit-transform: rotateY(360deg) rotateZ(360deg);
    -moz-transform: rotateY(360deg) rotateZ(360deg);
    -ms-transform: rotateY(360deg) rotateZ(360deg);
    -o-transform: rotateY(360deg) rotateZ(360deg);
    transform: rotateY(360deg) rotateZ(360deg); } }

@-o-keyframes rotateGear {
  0% {
    -webkit-transform: rotateY(0deg) rotateZ(0deg);
    -moz-transform: rotateY(0deg) rotateZ(0deg);
    -ms-transform: rotateY(0deg) rotateZ(0deg);
    -o-transform: rotateY(0deg) rotateZ(0deg);
    transform: rotateY(0deg) rotateZ(0deg); }
  100% {
    -webkit-transform: rotateY(360deg) rotateZ(360deg);
    -moz-transform: rotateY(360deg) rotateZ(360deg);
    -ms-transform: rotateY(360deg) rotateZ(360deg);
    -o-transform: rotateY(360deg) rotateZ(360deg);
    transform: rotateY(360deg) rotateZ(360deg); } }

@-webkit-keyframes wobble {
  0% {
    -webkit-transform: rotateY(0deg) rotateX(0deg);
    -moz-transform: rotateY(0deg) rotateX(0deg);
    -ms-transform: rotateY(0deg) rotateX(0deg);
    -o-transform: rotateY(0deg) rotateX(0deg);
    transform: rotateY(0deg) rotateX(0deg); }
  100% {
    -webkit-transform: rotateY(360deg) rotateX(-360deg);
    -moz-transform: rotateY(360deg) rotateX(-360deg);
    -ms-transform: rotateY(360deg) rotateX(-360deg);
    -o-transform: rotateY(360deg) rotateX(-360deg);
    transform: rotateY(360deg) rotateX(-360deg); } }

@-moz-keyframes wobble {
  0% {
    -webkit-transform: rotateY(0deg) rotateX(0deg);
    -moz-transform: rotateY(0deg) rotateX(0deg);
    -ms-transform: rotateY(0deg) rotateX(0deg);
    -o-transform: rotateY(0deg) rotateX(0deg);
    transform: rotateY(0deg) rotateX(0deg); }
  100% {
    -webkit-transform: rotateY(360deg) rotateX(-360deg);
    -moz-transform: rotateY(360deg) rotateX(-360deg);
    -ms-transform: rotateY(360deg) rotateX(-360deg);
    -o-transform: rotateY(360deg) rotateX(-360deg);
    transform: rotateY(360deg) rotateX(-360deg); } }

@-ms-keyframes wobble {
  0% {
    -webkit-transform: rotateY(0deg) rotateX(0deg);
    -moz-transform: rotateY(0deg) rotateX(0deg);
    -ms-transform: rotateY(0deg) rotateX(0deg);
    -o-transform: rotateY(0deg) rotateX(0deg);
    transform: rotateY(0deg) rotateX(0deg); }
  100% {
    -webkit-transform: rotateY(360deg) rotateX(-360deg);
    -moz-transform: rotateY(360deg) rotateX(-360deg);
    -ms-transform: rotateY(360deg) rotateX(-360deg);
    -o-transform: rotateY(360deg) rotateX(-360deg);
    transform: rotateY(360deg) rotateX(-360deg); } }

@-o-keyframes wobble {
  0% {
    -webkit-transform: rotateY(0deg) rotateX(0deg);
    -moz-transform: rotateY(0deg) rotateX(0deg);
    -ms-transform: rotateY(0deg) rotateX(0deg);
    -o-transform: rotateY(0deg) rotateX(0deg);
    transform: rotateY(0deg) rotateX(0deg); }
  100% {
    -webkit-transform: rotateY(360deg) rotateX(-360deg);
    -moz-transform: rotateY(360deg) rotateX(-360deg);
    -ms-transform: rotateY(360deg) rotateX(-360deg);
    -o-transform: rotateY(360deg) rotateX(-360deg);
    transform: rotateY(360deg) rotateX(-360deg); } }

@keyframes wobble {
  0% {
    -webkit-transform: rotateY(0deg) rotateX(0deg);
    -moz-transform: rotateY(0deg) rotateX(0deg);
    -ms-transform: rotateY(0deg) rotateX(0deg);
    -o-transform: rotateY(0deg) rotateX(0deg);
    transform: rotateY(0deg) rotateX(0deg); }
  100% {
    -webkit-transform: rotateY(360deg) rotateX(-360deg);
    -moz-transform: rotateY(360deg) rotateX(-360deg);
    -ms-transform: rotateY(360deg) rotateX(-360deg);
    -o-transform: rotateY(360deg) rotateX(-360deg);
    transform: rotateY(360deg) rotateX(-360deg); } }

.art-box {
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative; }
  .art-box .line-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: transparent; }
    .art-box .line-container .inner-line {
      width: 50%;
      height: 100%; }
      .art-box .line-container .inner-line:first-child {
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        transform: rotate(90deg); }
    .art-box .line-container:nth-child(odd) div {
      -webkit-animation: widenOddContainerLines 8s ease-in-out infinite;
      -moz-animation: widenOddContainerLines 8s ease-in-out infinite;
      -ms-animation: widenOddContainerLines 8s ease-in-out infinite;
      -o-animation: widenOddContainerLines 8s ease-in-out infinite;
      animation: widenOddContainerLines 8s ease-in-out infinite; }
    .art-box .line-container:nth-child(even) div {
      -webkit-animation: shrinkEvenContainerLines 8s ease-in-out infinite;
      -moz-animation: shrinkEvenContainerLines 8s ease-in-out infinite;
      -ms-animation: shrinkEvenContainerLines 8s ease-in-out infinite;
      -o-animation: shrinkEvenContainerLines 8s ease-in-out infinite;
      animation: shrinkEvenContainerLines 8s ease-in-out infinite; }

.btn-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 100px; }
  .btn-box div {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px; }
    .btn-box div a {
      display: inline-flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      color: #333;
      width: 30px;
      height: 30px;
      border: 2px solid transparent;
      border-radius: 50%; }
    .btn-box div:hover a {
      color: #55c768;
      border: 2px solid #55c768;
      -webkit-transform-style: preserve-3d;
      -moz-transform-style: preserve-3d;
      -ms-transform-style: preserve-3d;
      -o-transform-style: preserve-3d;
      transform-style: preserve-3d;
      -webkit-transform: perspective(200px);
      -moz-transform: perspective(200px);
      -ms-transform: perspective(200px);
      -o-transform: perspective(200px);
      transform: perspective(200px);
      -webkit-animation: wobble 4s infinite linear;
      -moz-animation: wobble 4s infinite linear;
      -ms-animation: wobble 4s infinite linear;
      -o-animation: wobble 4s infinite linear;
      animation: wobble 4s infinite linear; }
      .btn-box div:hover a i {
        -webkit-transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        -ms-transform-style: preserve-3d;
        -o-transform-style: preserve-3d;
        transform-style: preserve-3d;
        -webkit-transform: perspective(200px);
        -moz-transform: perspective(200px);
        -ms-transform: perspective(200px);
        -o-transform: perspective(200px);
        transform: perspective(200px);
        -webkit-animation: rotateGear 4s infinite linear;
        -moz-animation: rotateGear 4s infinite linear;
        -ms-animation: rotateGear 4s infinite linear;
        -o-animation: rotateGear 4s infinite linear;
        animation: rotateGear 4s infinite linear; }

.home-snowflake-container {
  border-radius: 5px;
  box-shadow: 0 0 10px 0 #333; }
