
@import '../../components.scss';

.bass-page {
  width: 100%;
  h1 {
    margin-top: 0;
  }
  .bass-welcome {
    margin-top: 40px;
    padding: 20px;
    background-color: $grayBackground;
    p {
      margin-top: 0;
    }
  }
}
