
.jr-recital-trackBox {
  h2 {
    align-self: flex-end;
    &:first-child {
      align-self: flex-start;
    }
  }
  @media #{$mobile} {
    h2 {
      align-self: flex-start;
      margin-left: 5px;
    }
  }
  ul:last-child {
    align-self: flex-end;
  }
}
