
@import '../../components.scss';

[class*='bass-event'] {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 40px;
  width: 600px;
  @media #{$mobile} {
    width: 100%;
    flex-wrap: wrap;
    img {
      margin-top: 40px;
    }
  }
}
