
/** PREFIXES **/

@mixin animationPrefixed($shorthand) {
  -webkit-animation: $shorthand;
  -moz-animation: $shorthand;
  -ms-animation: $shorthand;
  -o-animation: $shorthand;
  animation: $shorthand;
}

@mixin transformPrefixed($transformation) {
  -webkit-transform: $transformation;
  -moz-transform: $transformation;
  -ms-transform: $transformation;
  -o-transform: $transformation;
  transform: $transformation;
}

@mixin expansion {
  0% {@include transformPrefixed(scale(1));}
  50% {@include transformPrefixed(scale(2));}
  100% {@include transformPrefixed(scale(1));}
}

@mixin contraction {
  0% {@include transformPrefixed(scale(1));}
  50% {@include transformPrefixed(scale(.5));}
  100% {@include transformPrefixed(scale(1));}
}

// undecided
@mixin floatUp {
  0% {
    opacity: 0;
  }
  50% {
    opacity: initial;  
  }
  100% {
    opacity: 0;
  }
}

@keyframes float {
  @include floatUp;
}


@-webkit-keyframes expandOddBubbles {
  @include expansion;
}
@-moz-keyframes expandOddBubbles {
  @include expansion;
}
@-ms-keyframes expandOddBubbles {
  @include expansion;
}
@-o-keyframes expandOddBubbles {
  @include expansion;
}
@keyframes expandOddBubbles {
  @include expansion;
}

@-webkit-keyframes shrinkEvenBubbles {
  @include contraction;
}
@-moz-keyframes shrinkEvenBubbles {
  @include contraction;
}
@-ms-keyframes shrinkEvenBubbles {
  @include contraction;
}
@-o-keyframes shrinkEvenBubbles {
  @include contraction;
}
@keyframes shrinkEvenBubbles {
  @include contraction;
}

@mixin BubbleMaker($containerName, $artBoxName, $artBoxWidth, $bubbleClass) {
  #{$containerName} {
    display: inline-flex;
    #{$artBoxName} {
      width: $artBoxWidth;
      height: $artBoxWidth;
      position: relative;
      overflow: hidden;
      #{$bubbleClass} {
        position: absolute;
        border: 1px solid transparent;
        border-radius: 50%;
        background-color: transparent;
        div {
          border: 1px solid transparent;
          border-radius: 50%;
        }
        &:nth-child(odd) div {
          @include animationPrefixed(expandOddBubbles 8s infinite ease-in-out);
        }
        &:nth-child(even) div {
          @include animationPrefixed(shrinkEvenBubbles 8s infinite ease-in-out);
        }
      }
    }
  }
}
