
@import './home-snowflake.scss';
@import './home-updates.scss';
@import './home-upcoming.scss';

.home-page {
  padding-top: 100px;
  @include mainLayoutPage;
  .home-img-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 300px;
    width: 100%;
    img {
      width: 250px;
      height: 300px;
    }
  }
  .intro {
    @include vertFlexPerfectCenter;
    width: 100%;
    background-color: $grayFont;
    color: $white;
    padding: 20px;
    margin-top: 20px;
    @media #{$mobile} {
      color: $grayFont;
      background-color: $white;
      padding: 0;
    }
    h1 {
      font-size: 20px;
      font-weight: 700;
      margin: 0;
    }
    h2 {
      font-size: 18px;
      display: flex;
      flex-direction: row;
      align-items: center;
      i {
        font-size: 9px;
        margin: 0 10px;
      }
    }
  }
  nav.home-nav {
    @include horizontalNav(400px, 80px, 100px);
    margin-top: 20px;

    // link borders
    @mixin multiColorBottomBorder($color) {
      color: $color;
      border-bottom: 4px solid $color;
    }
    ul {
      margin: 0;
      li {
        a {
          border-bottom: 4px solid transparent;
          font-weight: 700;
        }
        &:first-child a {
          color: $emvRed;
          &:hover {
            @include multiColorBottomBorder($emvRed);
          }
        }
        &:nth-child(2) a {
          color: $emvViolet;
          &:hover {
            @include multiColorBottomBorder($emvViolet);
          }
        }
        &:nth-child(3) a {
          color: $emvBlue;
          &:hover {
            @include multiColorBottomBorder($emvBlue);
          }
        }
        &:last-child a {
          color: $emvGreen;
          &:hover {
            @include multiColorBottomBorder($emvGreen);
          }
        }
      }
    }
  }
}
